## Deliverable 3. Create a Travel Itinerary Map.
Using Google Directions API to create a travel itinerary that shows the route between four cities chosen from the customer's possible travel destinations.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Ravar,IR,80.29,clear sky,31.2656,56.8055,computertik
1,1,Venice,US,92.14,clear sky,27.0998,-82.4543,A Beach Retreat On Casey Key
2,5,Kavieng,PG,81.95,scattered clouds,-2.5744,150.7967,Nusa Island Retreat
3,6,Hithadhoo,MV,81.30,broken clouds,-0.6000,73.0833,Scoop Guest House
4,14,Dakar,SN,81.48,broken clouds,14.6937,-17.4441,Novotel Dakar

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [85]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "San Antonio"]
vacation_end = vacation_df.loc[vacation_df['City'] == "San Antonio"]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == "Labelle"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Charleston"]
vacation_stop3 = vacation_df.loc[vacation_df['City'] == "Tupelo"]

In [86]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(list(vacation_start['Lat']) + list(vacation_start['Lng']))
end = tuple(list(vacation_end['Lat']) + list(vacation_end['Lng']))
stop1 = tuple(list(vacation_stop1['Lat']) + list(vacation_stop1['Lng']))
stop2 = tuple(list(vacation_stop2['Lat']) + list(vacation_stop2['Lng']))
stop3 = tuple(list(vacation_stop3['Lat']) + list(vacation_stop3['Lng']))

In [89]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
destination = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')
fig.add_layer(destination)
fig.add_layer(gmaps.traffic_layer())
fig

Figure(layout=FigureLayout(height='420px'))

In [92]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,44,San Antonio,US,99.05,broken clouds,29.4241,-98.4936,Drury Plaza Hotel San Antonio Riverwalk
1,213,Labelle,US,89.24,scattered clouds,26.7617,-81.4384,Port LaBelle Inn
2,145,Charleston,US,88.02,clear sky,32.7766,-79.9309,The Mills House Wyndham Grand Hotel
3,608,Tupelo,US,95.29,few clouds,34.2576,-88.7034,"Hilton Garden Inn Tupelo, MS"
4,44,San Antonio,US,99.05,broken clouds,29.4241,-98.4936,Drury Plaza Hotel San Antonio Riverwalk

In [102]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [105]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))